<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查看表单</title>
    <link rel="stylesheet" href="/stylesheets/style.css"> <!-- 引用外部样式表 -->
</head>
<body>
    <div class="container">
        <h1>查看表单</h1>
        <form id="createForm">
            <div class="form-group">
                <label for="formName">模板名称：</label>
                <input type="text" id="formName" name="formName" value="<%= template.template_name || '无标题'  %>" readonly>
            </div>
            <div class="form-group">
                <label for="description">描述：</label>
                <textarea id="description" name="description" readonly><%= template.template_description || '无描述' %></textarea>
            </div>

            <% if (template.fields && Array.isArray(template.fields)) { %>
                <h2>预览字段</h2>
                <div id="fieldList">
                    <% template.fields.forEach(field => { %>
                        <div class="field">
                            <label><%= field.template_fields_name %><%= field.fields_isRequired ? ' *' : '' %></label>
                            <% if (field.template_fields_type === 1) { %>
                                <input type="text" class="preview-input" readonly>
                            <% } else if (field.template_fields_type === 2) { %>
                                <textarea class="preview-input" readonly></textarea>
                            <% } else if (field.template_fields_type === 3) { %>
                                <select class="preview-input" readonly>
                                    <% field.template_fields_options.forEach(option => { %>
                                        <option><%= option %></option>
                                    <% }) %>
                                </select>
                            <% } else if (field.template_fields_type === 4) { %>
                                <input type="file" class="preview-input" readonly>
                            <% } %>
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <p>没有可用的字段。</p>
            <% } %>
        </form>
    </div>
</body>
</html>